<form method="GET" action="/quizes">
	<label for="tema">Tema:</label>
	<select name="tema">
	  <option value="todos" selected>Todos</option>
	  <option value="otro">Otro</option>
	  <option value="humanidades">Humanidades</option>
	  <option value="ocio">Ocio</option>
	  <option value="ciencia">Ciencia</option>
	  <option value="tecnologia">Tecnología</option>
	</select>

	<label for="search">Buscar:</label>
	<input type="text" name="search" placeholder="Palabra a buscar"/>
	<input type="submit" value="Buscar"/>
</form>

<table>
	<% var i; for(i = 0; i < quizes.length; i++){%>
	<tr>
		<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
		<td><a href="quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a></td>
		<td>
			<form method="POST" action="quizes/<%= quizes[i].id %>?_method=delete">
				<button type="submi" onclick="return confirm('Borrar: <%= quizes[i].pregunta %>');">Borrar</button>
			</form>
		</td>
	</tr>
	<% } %>
</table>
<a href="/quizes/new"><button type="button">Crear Pregunta</button></a>